logs
project/project
project/target
target
.target
.cache
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
*~
bin/
sbt-cache-config/
sbt-cache-update/
